@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transition-duration: 0.3s;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --radius: 0.5rem;
  }

  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100 overflow-x-hidden;
  }

  * {
    overflow-x: hidden;
    transition: background-color var(--transition-duration),

  }
  .dark {
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
  }
}
